{% extends 'main_template.html' %}

{% block username %} {{ user }} {% endblock%}

{% block title %} HELLO {% endblock %}

{% block show_all %}
<div class="container">

<h1>   ♥  10HoursTube  ♥   </h1><br><br><br>
    {% for video in videos %}
        <iframe src="{{ video.url }}" width="400" height="300"></iframe>
        {% for comment in comments %}
            {% if comment.video_id == video %}
                <h2> {{ comment.text }}</h2><br>
            {% endif %}
        {% endfor %}
    <form action="/hello/addcomment/{{ video.id }}">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" name="comment" rows="5" id="comment"></textarea>
            <input type="submit" value="submit"><br>
        </div>
    </form>
    {% endfor %}

</div>
{% endblock %}

