{% extends 'main_template.html' %}

{% block title %} {{ url }} {% endblock %}

{% block register %}
<form action="/reg/{{ url }}">

<div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr" name="user">
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd" name="password">
</div>
    <input type="submit" value="ok">
</form>


{% if error %}
<h1> {{ error }}</h1>
{% endif %}

{% endblock %}